#classic{
    font-weight: 540;
    padding: 1em;
    text-align:justify;
}
#modern{
    background-color:rgb(255, 200, 0);
    text-align: center;
    padding: 1em 1em 0em 1em;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 10px grey;   
}
#impact{
    background-color:rgb(144, 246, 170);
    border:black double 1em;
    text-align: center;
    padding: 1em 1em 0em 1em;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}
#elise{
    font-family:cursive;
}